---
layout: archive
title: "Publications"
permalink: /publications/
<!-- author_profile: true -->
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% assign pubs = site.publications | sort: "date" | reverse %}
{% assign pubs_by_year = pubs | group_by_exp: "post", "post.date | date: '%Y'" %}

{% for year in pubs_by_year %}
  <h2>{{ year.name }}</h2>
  <hr />
  {% comment %}Sort within each year: corresponding author papers first, then by date{% endcomment %}
  {% assign year_items_sorted = year.items | sort: "date" | reverse %}
  {% comment %}First pass: show corresponding author papers{% endcomment %}
  {% for post in year_items_sorted %}
    {% assign post_slug = post.permalink | remove_first: '/publication/' %}
    {% assign post_corresponding = site.data.corresponding_authors[post_slug] %}
    {% if post_corresponding and post_corresponding contains "Fan Tang" %}
      {% include archive-single.html %}
    {% endif %}
  {% endfor %}
  {% comment %}Second pass: show other papers{% endcomment %}
  {% for post in year_items_sorted %}
    {% assign post_slug = post.permalink | remove_first: '/publication/' %}
    {% assign post_corresponding = site.data.corresponding_authors[post_slug] %}
    {% unless post_corresponding and post_corresponding contains "Fan Tang" %}
      {% include archive-single.html %}
    {% endunless %}
  {% endfor %}
{% endfor %}

