{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {% assign _is_arxiv = false %}
      {% if post.collection == 'publications' and post.venue and post.venue contains 'arXiv' %}
        {% assign _is_arxiv = true %}
      {% endif %}
      {% assign _venue_abbr = '' %}
      {% if post.collection == 'publications' and _is_arxiv == false and post.venue %}
        {% assign _venue_abbr = site.data.venue_abbreviations[post.venue] | default: '' %}
      {% endif %}
      {% if post.link %}
        <a href="{{ post.link }}">
          {% if _is_arxiv == false and _venue_abbr != '' %}<strong>[{{ _venue_abbr }}]</strong> {% endif %}
          {{ title }}
        </a>
        <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">
          {% if _is_arxiv == false and _venue_abbr != '' %}<strong>[{{ _venue_abbr }}]</strong> {% endif %}
          {{ title }}
        </a>
      {% endif %}
    </h2>
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

    {% if post.collection == 'publications' and post.citation %}
    {% assign citation_clean = post.citation | split: '&quot;' | first %}
    {% assign authors_raw = citation_clean | strip %}
    {% assign authors_array = authors_raw | split: ',' %}
    {% assign post_slug = post.permalink | remove_first: '/publication/' %}
    {% assign post_corresponding = site.data.corresponding_authors[post_slug] %}
    <p class="pub-authors">{% capture _authors_line -%}
{%- for a in authors_array -%}
  {%- assign a_trim = a | strip | replace: ';', '' | strip -%}
  {%- if a_trim != '' -%}
    {%- if forloop.first == false -%}, {%- endif -%}
    {%- assign author_display = a_trim | replace: 'Fan Tang', '<strong>Fan Tang</strong>' | strip -%}
    {{ author_display }}
    {%- if post_corresponding and post_corresponding contains a_trim -%}&#9993;{%- endif -%}
  {%- endif -%}
{%- endfor -%}
{%- endcapture %}{{ _authors_line | strip_newlines }}</p>
  {% endif %}

        {% if post.collection == 'teaching' %}
          <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.collection == 'publications' %}
          <p class="pub-venue">
            <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}
            {% if post.bibtexurl %}
              &nbsp;<a class="btn btn--small" href="{{ post.bibtexurl }}"
                style="font-size: smaller; padding: 0.08em 0.35em; margin-left: 0; margin-bottom: 0; line-height: 1; white-space: nowrap; display: inline-block; vertical-align: middle;">BibTeX</a>
            {% endif %}
          </p>
        {% elsif post.date %}
         <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
        {% endif %}

    {% if post.excerpt and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
    {% endif %}
    
    {% if post.collection == 'publications' %}
      {% if post.paperurl or post.slidesurl or post.bibtexurl or post.citation %}
        <p class="pub-actions">
          {% if post.paperurl %}
            <a class="btn btn--small" href="{{ post.paperurl }}">PDF</a>
          {% endif %}
          {% if post.slidesurl %}
            <a class="btn btn--small" href="{{ post.slidesurl }}">Slides</a>
          {% endif %}
        </p>
      {% endif %}
    {% else %}
      {% if post.citation and post.paperurl and post.slidesurl and post.bibtexurl %}
        <p>Recommended citation: {{ post.citation }}<br /><a href="{{ post.paperurl }}">Download Paper</a> | <a href="{{ post.slidesurl }}">Download Slides</a> | <a href="{{ post.bibtexurl }}">Download Bibtex</a></p>
      {% elsif post.citation and post.paperurl and post.slidesurl %}
        <p>Recommended citation: {{ post.citation }}<br /><a href="{{ post.paperurl }}">Download Paper</a> | <a href="{{ post.slidesurl }}">Download Slides</a></p>
      {% elsif post.citation and post.paperurl and post.bibtexurl %}
        <p>Recommended citation: {{ post.citation }}<br /><a href="{{ post.paperurl }}">Download Paper</a> | <a href="{{ post.bibtexurl }}">Download Bibtex</a></p>
      {% elsif post.citation and post.paperurl %}
        <p>Recommended citation: {{ post.citation }}<br /><a href="{{ post.paperurl }}">Download Paper</a></p>
      {% elsif post.citation and post.slidesurl and post.bibtexurl %}
        <p>Recommended citation: {{ post.citation }}<br /><a href="{{ post.slidesurl }}">Download Slides</a> | <a href="{{ post.bibtexurl}}">Download Bibtex</a></p>
      {% elsif post.citation and post.slidesurl %}
        <p>Recommended citation: {{ post.citation }}<br /><a href="{{ post.slidesurl }}">Download Slides</a></p>
      {% elsif post.citation and post.bibtexurl %}
        <p>Recommended citation: {{ post.citation }}<br /><a href="{{ post.bibtexurl }}">Download Bibtex</a></p>
      {% elsif post.citation %}
        <p>Recommended citation: {{ post.citation }}</p>
      {% elsif post.paperurl and post.bibtexurl %}
        <p><a href=" {{ post.paperurl }} ">Download Paper</a> | <a href="{{ post.bibtexurl }}">Download Bibtex</a></p>
      {% elsif post.paperurl %}
        <p><a href=" {{ post.paperurl }} ">Download Paper</a></p>
      {% elsif post.slidesurl and post.bibtexurl %}
        <p><a href="{{ post.slidesurl }}">Download Slides</a> | <a href="{{ post.bibtexurl }}">Download Bibtex</a></p>
      {% elsif post.slidesurl %}
        <p><a href="{{ post.slidesurl }}">Download Slides</a></p>
      {% elsif post.bibtexurl %}
        <p><a href="{{ post.bibtexurl }}">Download Bibtex</a></p>
      {% endif %}
    {% endif %}
    {% if post.semantic_scholar_id %}
  <p class="page__meta">
    <i class="fas fa-fw fa-quote-right" aria-hidden="true"></i> 
    Citations: <span class="ss-citation-count" data-ss-id="{{ post.semantic_scholar_id }}">Loading...</span>
  </p>
{% endif %}
    <p>
      {% if post.paper_url %}
        <a href="{{ post.paper_url }}" class="btn btn--light outline"><i class="fas fa-fw fa-file-pdf"></i> Paper</a>
      {% endif %}
      {% if post.github_url %}
        <a href="{{ post.github_url }}" class="btn btn--light outline"><i class="fab fa-fw fa-github"></i> GitHub</a>
      {% endif %}
      {% if post.project_url %}
        <a href="{{ post.project_url }}" class="btn btn--light outline"><i class="fas fa-fw fa-globe"></i> Project</a>
      {% endif %}
      {% if post.demo_url %}
        <a href="{{ post.demo_url }}" class="btn btn--light outline"><i class="fas fa-fw fa-play-circle"></i> Demo</a>
      {% endif %}
    </p>
  </article>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const citationSpans = document.querySelectorAll('.ss-citation-count');
    
    citationSpans.forEach(span => {
      const paperId = span.getAttribute('data-ss-id');
      if (paperId) {
        fetch(`https://api.semanticscholar.org/graph/v1/paper/${paperId}?fields=citationCount`)
         .then(response => response.json())
         .then(data => {
            if (data && data.citationCount!== undefined) {
              span.innerText = data.citationCount;
            } else {
              span.innerText = '0';
            }
          })
         .catch(err => {
            console.error('Error fetching citations:', err);
            span.innerText = 'N/A';
          });
      }
    });
  });
</script>